<div class="container">
  <div class="sectionTitle">
    <input class="title" autoSizeInput [(ngModel)]="title"/>
  </div>

  <div *ngIf="editMode" class="NgxEditor__Wrapper">
    <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
    <ngx-editor
      [editor]="editor"
      [(ngModel)]="html"
      [disabled]="false"
      [placeholder]="'Type here...'"
      [ngClass]="'backgroundColor'"
    ></ngx-editor>
  </div>

  <span *ngIf="!editMode" class="displayText" [innerHtml]="html"></span>
</div>