::ng-deep {
  .NgxEditor__MenuBar {
    background-color: #A14B00 !important;
    color: #FFF;
    :hover {
      background-color: #c46513;
      transition: background-color 1s ease;
      -moz-transition: background-color 1s ease;
      -webkit-transition: background-color 1s ease;
    }
  }

  .NgxEditor__Dropdown--Selected {
    background-color: #A14B00 !important;
    color:#FFF !important;
  }

  .NgxEditor__Dropdown.NgxEditor__Dropdown--Selected .NgxEditor__Dropdown--Text, .NgxEditor__Dropdown.NgxEditor__Dropdown--Open .NgxEditor__Dropdown--Text {
    color: #FFF !important;
  }

  .NgxEditor__Dropdown .NgxEditor__Dropdown--Active {
    background-color: #c46513 !important;
  }

  .NgxEditor__Content {
    background-color: #B57F50;
    color: #FFF;
    min-height: 400px;
  }

  .NgxEditor {
    height: 416px;
    overflow-y: auto;
  }

  .NgxEditor__Dropdown {
    background-color:#A14B00;
    :hover {
      background-color: #c46513 !important;
      transition: background-color 1s ease !important;
      -moz-transition: background-color 1s ease !important;
      -webkit-transition: background-color 1s ease !important;
    }
    .NgxEditor__Dropdown--Item {
      background-color:#A14B00;
    }
  }
}

:host {
  color: #FFF;
}

.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  border-bottom: 2px solid #FFF;
  border-width: 0 0 2px;
  width: fit-content;
  margin-bottom: 20px;
}

.title {
  background: transparent;
  border: none;
  color: #FFF;
  font-weight: bolder;
  font-size: 34px;
}

.title:focus {
  outline:none;
}